.blogMarkDown {
    font-size: 1.1rem;
}

.blogMarkDown h1 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
    text-transform: unset;
}


.blogMarkDown h2 {
    font-size: 1.9rem;
    margin: 0.5rem 0;
    text-transform: unset;
    font-family: Roboto Slab, sans-serif;
}

.blogMarkDown h3 {
    font-size: 1.6rem;
    margin: 0.5rem 0;
    text-transform: unset;
    font-family: Roboto Slab, sans-serif;
}

.blogMarkDown h4 {
    font-size: 1.3rem;
    margin: 0.5rem 0;
    text-transform: unset;
    font-family: Roboto Slab, sans-serif;
}

.blogMarkDown h5 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    text-transform: unset;
    font-family: Roboto Slab, sans-serif;
}

.blogMarkDown h6 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    text-transform: unset;
    font-family: Roboto Slab, sans-serif;
}

.blogMarkDown p {
    margin-bottom: 0.5rem;
    opacity: 0.9;
    line-height: 1.625;
}

.blogMarkDown pre code {
    font-size: 0.9rem !important;
    background-color: #1F2124 !important;
    color: #c5c7c8 !important;
    padding: 1em 1.5em !important;
    margin: 0.5rem 0 !important;
}

.blogMarkDown code {
    font-size: 1rem;
    background-color: rgb(245, 245, 245);
    color: DarkCyan;
    padding: 0 0.3rem;
    margin: 0;
}


.blogMarkDown strong {
    color: #B56536
}
