@import "./cask.sass";

.index-header {
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
  width: 80%;
  color: $cask_base_black;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 1px 1px rgba(254, 254, 254, 0.9), 0 20px 27px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: saturate(200%) blur(30px);
  border-radius: 15px;

  .headerBtn {
    font-size: 0.8rem;
    padding-top: 0.8rem;
    width: 3.1rem;
    font-weight: bold;
  }

}

.subHeaderBtn {
  font-size: .9rem;
  padding: .2rem 0 .2rem 0;
  width: 3rem;
  font-weight: bold;
}


@mixin cask-primary-card-header($text-align: center) {
  padding: 1.5rem;
  text-align: $text-align;
  transform: translateY(-15%);
  margin: -2rem 1rem 0;
  background-image: linear-gradient(195deg, #42424a, #191919);
  color: $cask_base_white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(64, 64, 64, .4);
  border-radius: 0.5rem;

  h1 {
    font-size: 1.875rem;
    line-height: 1.375;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
    margin-top: 0;
    font-family: Roboto Slab, sans-serif;
    //letter-spacing: -.05rem
    text-transform: unset;
  }

  p {
    margin: 0;
    opacity: 0.8;
    font-size: 1rem;
    line-height: 1.625;
    font-weight: 300;
  }
}

.article-anchors-special {
  margin-right: 1rem;
  margin-bottom: 5rem;
  width: 20%;
  height: 60%;
  border-radius: 0.5rem;
  position: fixed;
}

.article-anchors {
  margin-right: 1rem;
  margin-bottom: 5rem;
  width: 20%;
  height: 60%;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
  border-radius: 0.5rem;
  padding: 2rem;
  position: fixed;
  opacity: 0.8;

  p, a {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.625;
    font-weight: 300;
    font-family: Roboto Slab, sans-serif;
  }


  h1 {
    font-size: 1.875rem;
    line-height: 1.375;
    font-weight: 600;
    color: $cask_dark_jungle_green;
    margin-bottom: 1rem;
    margin-top: 0;
    font-family: Roboto Slab, sans-serif;
    //letter-spacing: -.05rem
    text-transform: unset;
  }

}

.cask-primary-card-header-left {
  @include cask-primary-card-header($text-align: left);
}

.cask-primary-card-header-center {
  @include cask-primary-card-header;
}

