//https://colors.artyclick.com/color-name-finder/
//green
$cask_cactus: #447550
$cask_real_cactus: #587156
$cask_plantation: #2B5853
$cask_real_plantation: #27504B

//black
$cask_base_black : #555f66
$cask_dark_jungle_green: #1F2124
$cask_dune: #3E3630
$cask_real_dune: #383533

//red
$cask_french_beige: #A4755E
$cask_real_french_beige: #A67B5B
$cask_ruddy_brown: #B56536
$cask_real_ruddy_brown: #BB6528
