@import "./cask.sass";

.cask-text-secondary-color {
  color: $cask_cactus;
}

.cask-text-secondary-deep-color {
  color: $cask_second_deep;
}

.cask-text-thirdly-color {
  color: $cask_third;
}

.cask-bg-thirdly-color {
  background-color: $cask_third;
}

.cask-bg-grey-color {
  background-color: $cask_base_grey;
}

.cask-text-black-color {
  color: $cask_dark_jungle_green;
}

.same-a-btn {
  min-height: 1rem;
  min-width: 1rem;
  color: #629DD1;
  text-decoration: underline;
}

.simple-a-no-underline {
  font-weight: 500;
  min-height: 1rem;
  min-width: 1rem;
  text-decoration: none;
}

.normal-letter-span {
  letter-spacing: 0.1rem
}

.roboto-slab {
  font-family: Roboto Slab, sans-serif;
}

.simple-header {
  font-size: 3rem;
  font-family: Roboto Slab, sans-serif;
}

.simple-sec-header {
  font-size: 2rem;
  font-family: Roboto Slab, sans-serif;
}

.simple-bold-title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.625;
  font-family: Roboto Slab, sans-serif;
}

.simple-bold-title-secondary {
  font-weight: 600;
  color: $cask_cactus;
  font-size: 1.5rem;
  line-height: 1.625;
  font-family: Roboto Slab, sans-serif;
}

.simple-bold-little-title {
  font-weight: 600;
  font-size: 1.05rem;
  line-height: 1.625;
  margin: 0;
  font-family: Roboto Slab, sans-serif;
}

.simple-bold-little-title-auto-mg {
  font-weight: 600;
  font-size: 1.05rem;
  line-height: 1.625;
  font-family: Roboto Slab, sans-serif;
}


.simple-bold-little-title-secondary {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.625;
  color: $cask_cactus;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: Roboto Slab, sans-serif;
}

.simple-bold-little-title-mini {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.225;
  color: $cask_cactus;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Roboto Slab, sans-serif;
}

.simple-content {
  font-weight: 500;
  font-size: 1rem;
  white-space: pre-wrap;
  font-family: Roboto Slab, sans-serif;
}

.simple-content-mini {
  font-weight: 500;
  font-size: 0.9rem;
  white-space: pre-wrap;
  font-family: Roboto Slab, sans-serif;
}

.simple-content-semi {
  font-size: 0.9rem;
  color: $cask_base_black;
  opacity: 0.9;
  font-family: Roboto Slab, sans-serif;
}

.simple-content-tag {
  font-size: 0.8rem;
  color: $cask_base_black;
  opacity: 0.9;
  font-family: Roboto Slab, sans-serif;
}

.error-page-admin {
  text-align: center;
  padding-top: 12%;
  background-size: cover;
  background-position: 100% 100%;
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url('https://astercasc-web-admin-1256368017.cos.ap-shanghai.myqcloud.com/admin-web-img/404%20.svg');
}

.video-player-title {
  margin-top: 5%;
  margin-bottom: 1%;
}

@mixin cask-simple-btn($margin: 0, $min-height:2rem, $min-width:4rem,
$background-image: linear-gradient(195deg, #42424a, #191919)) {
  margin: $margin;
  text-align: center;
  color: white;
  min-height: $min-height;
  min-width: $min-width;
  background-image: $background-image;
  border-radius: 0.8rem;
}

.space-right-coming-soon-const {
  font-family: Roboto Slab, sans-serif;
  text-align: center;
  height: 10rem;
  padding: 7.5rem 0;
  font-size: 3rem;
}

.space-right-coming-soon {
  font-family: Roboto Slab, sans-serif;
  text-align: center;
  height: 10rem;
  padding: 40% 0;
  font-size: 3rem;
}

.cask-simple-btn-margin-sec {
  @include cask-simple-btn(0rem, 2.5rem, 6rem, linear-gradient(195deg, $cask_cactus, $cask_plantation))
}

.cask-simple-btn-margin-forth {
  @include cask-simple-btn(0rem, 2.5rem, 6rem, linear-gradient(195deg, #C8E6C8, #A5D6A7))
}

.cask-simple-btn-margin-pri {
  @include cask-simple-btn(0rem, 2.5rem, 6rem, linear-gradient(195deg, #42424a, #191919))
}